# Load Xresources
xrdb -load ~/.Xresources

# Start compositor
picom -b &

# set keyboard stuff
xset r rate 200 30 &
xset s off -dpms &

# start some stuff
systemctl --user restart redshift-gtk &
ckb-next -b &
nm-applet -b &
# systemctl restart bluetoothctl &
discord &

# Start KDEconnect
# /usr/lib/kdeconnectd &
